[submodule "tre-booking-be"]
	path = tre-booking-be
	url = https://github.com/hoangnc1709/tre-booking-be.git
[submodule "tre-booking-fe"]
	path = tre-booking-fe
	url = https://github.com/ngochienhv/che-booking-fe.git
